<md-content class="md-padding">

    <form name="firstForm" ng-submit="calculateSimplex()" novalidate>
        <div class="md-padding">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Variáveis de decisão: </label>
                    <input aria-label="" type="number" ng-model="initial.decisionVars" ng-disabled="initial.locked" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Número de restrições</label>
                    <input aria-label="" type="number" ng-model="initial.restrictions" ng-disabled="initial.locked" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Objetivo</label>
                    <md-select ng-model="initial.objective" ng-disabled="initial.locked">
                        <md-option value="max">
                            Maximizar
                        </md-option>
                        <md-option value="min">
                            Minimizar
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Limite de Iterações</label>
                    <input aria-label="" type="number" ng-model="initial.iterationLimit" ng-disabled="initial.locked" required>
                </md-input-container>
            </div>

            <h4>Função:</h4>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm ng-repeat="decisionVar in decisionVars">
                    <label>X{{$index+1}}</label>
                    <input aria-label="ok" type="number" ng-model="decisionVar.value" ng-disabled="initial.locked" required>
                </md-input-container>
            </div>

            <h4>Restrições:</h4>
            <div layout-gt-sm="row" ng-repeat="restriction in restrictions">
                <md-input-container class="md-block" flex-gt-sm ng-repeat="decisionVar in restriction.decisionVars">
                    <label>X{{$index+1}}</label>
                    <input aria-label="ok" type="number" ng-model="decisionVar.value" ng-disabled="initial.locked" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Condição</label>
                    <md-select ng-model="restriction.condition" ng-disabled="initial.locked">
                        <md-option value="menor">
                            &le;
                        </md-option>
                        <md-option value="maior">
                            &ge;
                        </md-option>
                        <md-option value="igual">
                            =
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <input aria-label="ok" type="number" ng-model="restriction.value" ng-disabled="initial.locked" required>
                </md-input-container>
            </div>
            <md-card-actions layout="row" layout-align="end center" class="md-padding">
                <md-button class="md-primary md-raised" type="submit">Continuar</md-button>
            </md-card-actions>
        </div>
    </form>

    <md-card ng-show="showResult">
        <md-card-title class="md-padding">
            <md-card-title-text>
                <funcao-objetivo objective="initial.objective" decision-vars="decisionVars"></funcao-objetivo>
                <sujeito-a restrictions="restrictions"></sujeito-a>
            </md-card-title-text>
        </md-card-title>
    </md-card>

    <md-tabs ng-show="showResult" class="md-primary md-hue-1" md-selected="selectedIndex">
        <md-tab id="tab1">
            <md-tab-label>Resolução passo a passo</md-tab-label>
            <md-tab-body>
                <h3>Quadro inicial:</h3>
                <quadro table='steps[0].tabela' base='steps[0].base'></quadro>
                <p>Continua? {{steps[0].continua ? 'Sim' : 'Não'}}</p>

                <h2 ng-if="twoPhases">Primeira fase</h2>

                <div ng-repeat="step in steps">
                    <div ng-if="$index > 0">
                        <h2 ng-if="step.secondPhase">Segunda fase</h2>
                        <h3>{{step.iteration}}ª Iteração</h3>
                        <p ng-if="step.enterVar">x{{step.enterVar}} entra na base e x{{step.exitVar}} sai.</p>
                        <quadro table="step.tabela" base="step.base"></quadro>
                        <p>Continua? {{step.continua ? 'Sim' : 'Não'}}</p>
                        <strong ng-if="step.limit">LIMITE DE ITERAÇÕES ATINGIDO!</strong>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <md-tab id="tab2">
            <md-tab-label>Análise de sensibilidade</md-tab-label>
            <md-tab-body>
                <h3>Quadro ótimo</h3>
                <quadro table='otimo.tabela' base='otimo.base'></quadro>

                <p>Valor de z: {{otimo.tabela[0][otimo.tabela[0].length - 1]}}</p>

                <h3>Variáveis básicas:</h3>
                <p ng-repeat="basica in otimo.basicas">x{{basica.var}} = {{basica.value}}</p>

                <h3>Variáveis não básicas:</h3>
                <p ng-repeat="notBasica in otimo.notBasicas">x{{notBasica}} = 0</p>

                <h3>Custos reduzidos:</h3>
                <p ng-repeat="reducedCost in otimo.reducedCost">x{{reducedCost.var}} = {{reducedCost.value}}</p>

                <h3>Shadow Prices:</h3>
                <p ng-repeat="shadowPrice in otimo.shadowPrice">x{{shadowPrice.var}} = {{shadowPrice.value}}</p>

                <div ng-repeat="variation in otimo.variations">
                    <h3>Variação de dC{{$index+1}}:</h3>
                    <p ng-if="variation.res">{{variation.res}}</p>
                    <p ng-repeat="res in variation.indivRes">{{res}}</p>
                    <p>{{variation.min}} &le; dC{{$index+1}} &le; {{variation.max}}</p>
                    <p>{{variation.minCalc}} &le; C{{$index+1}} &le; {{variation.maxCalc}}</p>
                </div>
            </md-tab-body>
        </md-tab>
        <md-tab id="tab3">
            <md-tab-label>Interpretações</md-tab-label>
            <md-tab-body>
                View for Item #3
                <br/> data.selectedIndex = 2;
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
